.Main{
background-color:rgb(233, 224, 224);

color: rgb(6, 7, 5);
    margin:2%;
    box-shadow:10px 0px 10px rgba(0,0,0,0.5)
}

a:hover {
    background-color:white;
  }

h1{text-align:center;}

body{
    display: grid;
    margin: rem auto 1rem auto; 
}

header{
    color:rgba(235, 227, 227, 0.836);
    height: 0%;
}

.MyImg{
    width:150px
}

html{
    background-image: url('/webb-dark.png'); 
    background-repeat: repeat;
    background-size: cover;
    background-position: 10% 10%;
}

footer{
color: rgb(241, 241, 237);
}

.navBar{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}
.projectImg{
    width: 400px;
}
